.header{
    // background-color: $main_color;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 200;
    width: 98.5vw;
}

.flex__left{
    float: left;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
    align-content: stretch;
    color: white;
    font-family: $body_font;
}

.flex__left > div {
    padding: 10px;
    font-size: 14pt;
    cursor: pointer;
}





