.projects {
    background-color: $main_color_trans;
    margin-top: 100px;
    padding: 50px 0;
}

.projectsParagraph{
    padding: 20px 200px;
    p{
        padding: 0;
    }
}

.projectPictures{
    padding: 15px 150px;
    padding-bottom: 25px;
    text-align: center;
    img{
        padding: 10px;
        padding-bottom: 25px;
    }
}

.project_title{
    font-family: $header_font;
    color: white;
    font-size: 20pt;
    text-align: left;
    letter-spacing: 1pt;
    margin: 10px 0px;
    span{
        font-family: $body_font;
        font-weight: lighter;
        color: white;
        font-size: 12pt;
        line-height: 15pt;
        letter-spacing: .7pt;
    }
}


.project_tools{
    font-weight: bold;
}
