.projects{
    background-color: $secondary_background_color;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
    margin-top: 100px;
    padding: 20px;
}

.projects_right{
    text-align: right;
    padding: 10px;
}