.skills{
    margin-top: 100px;
    background-color: $main_color_trans;
    padding: 20px 250px;
    text-align: center;
}


.icons{
    // padding-bottom: 25px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.icons > div {
    padding: 10px 6px;
}

.icons  > div > p{
    padding: 0px;
    margin: 5px;
}

@media (max-width: 1025px) {
    .skills{
        padding: 20px 100px;
    }
}